<footer class="footer">
  <div class="container">
    <img height="200px" width="200px"  src='../../../assets/image/logo.png' >
    <div  fxFlex fxLayoutAlign="end"  fxHide.xs class="row">
      <div   class="footer-col">
        <h4 >get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>


    </div>
  </div>
</footer>
