<footer class="footer">
  <div class="container">
    <img height="200px" width="200px"  src='../../../assets/image/logo.png' >
    <div  fxFlex fxLayoutAlign="end"  fxHide.xs class="row">
      <div   class="footer-col">
        <h4 >Lien Rapide</h4>
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Recherche</a></li>
          <li><a href="#">a propos</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>Contactez-nous</h4>
        <ul>
          <li><a href="#">RABEMIAKATRA Francky Rado</a></li>
          <li><a href="#">ETU 00895</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Client</a></li>
          <li><a href="#">Livreur</a></li>

        </ul>
      </div>


    </div>
  </div>
</footer>
