<mat-toolbar color="white" >
  <div >
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
    <a href="#" target="_blank" class="positronx">E-Kaly</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/owner">Connexion</a>
          </li>
          <li>
              <a   routerLink="/account">Inscription</a>
          </li>
      </ul>
  </div>
</mat-toolbar>
